{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="mb-5 text-center">My todo lists</h1>
    <div class="row">
        {% for todoList in todoLists %}
            <div class="col-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        {{ todoList.name }}
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            {% for todoItem in todoList.todoItems %}
                                <li>
                                    {{ component('TodoItemComponent', {
                                        todoItem: todoItem
                                    }) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
